@font-face {
    font-family: "koreanGD1";
    src: url("./koreanGD.woff");
}
@font-face {
    font-family: "koreanGD2";
    src: url("./koreanGD2.woff");
}
@font-face {
    font-family: "koreanGD3";
    src: url("./koreanGD3.woff");
}
@font-face {
    font-family: "koreanGD4";
    src: url("./koreanGD4.woff");
}
@font-face {
    font-family: "koreanGD5";
    src: url("./koreanGD5.woff");
}
@font-face {
    font-family: "koreanGD6";
    src: url("./koreanGD6.woff");
}
@font-face {
    font-family: "koreanGD7";
    src: url("./koreanGD7.woff");
}